@page
@model SessionDataApp.Pages.Page2Model
@{
    ViewData["Title"] = "Page2";
}

<div>
    <h1>Page2</h1>
    <p>
        Your Name is: @Model.name
    </p>
    <p>
        Your Age is: @Model.age
    </p>
</div>